{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>

<body style="text-align: center;">
	<header>
		<a href="{% url 'index' %}">Home</a>
		<a href="{% url 'main' %}">Schedule</a>
	</header>
	<div class="main">
	        <div class="container">
		        {% block content %}
		        {% endblock %}
	        </div>
	</div>
</body>
</html>