{% extends "base.html" %}
{% block content %}
<h1>{{ doctor.forename }} {{ doctor.surname }}</h1>
<h3>Specialization: {{ doctor.area }}</h3>
<p>In the table below you can find all dates and time periods, when the doctor is busy and already has patients.</p>

<table class="table table-bordered">
<thead></thead>
<tbody>
{% for appointment in appointments %}
<tr>
<th>{{ appointment.date }}</th>
<th>{{ appointment.time }}</th>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}