{% extends "base.html" %}

{% block content %}
<table class="table table-bordered table-hover">
<thead></thead>
<tbody>
	{% for doctor in doctors %}
<tr>
<th><a href="{{ doctor.get_absolute_url }}">{{ doctor.forename }} {{ doctor.surname }}</a></th>
<th>{{ doctor.area }}</th>
</tr>
    {% endfor %}
</tbody>
</table>

<h1>Each doctor is available from 9 a.m. till 6 p.m. only during weekdays</h1>

<form id="form" role="form" action="." method="POST" enctype="multipart/form-data" style="text-align: left;">
 {% csrf_token %} 
 <h3 class="text-danger">{{ form.non_field_errors.as_text }}</h3>
    <div class="form-group">
        <label for="{{ form.doctor.id_for_label }}">Doctor:</label>
        {{ form.doctor }}
        <p class="text-danger">{{ form.doctor.errors.as_text }}</p>
    </div>
    <div class="form-group">
        <label for="{{ form.date.id_for_label }}">Date:</label>
        {{ form.date }}
        <p class="text-danger">{{ form.date.errors.as_text }}</p>
        <span id="helpBlock" class="help-block">Enter a date in the format as 2015-01-05 where first - year, second - month, third - day</span>
    </div>
    <div class="form-group">
        <label for="{{ form.time.id_for_label }}">Time:</label>
        {{ form.time }}
        <p class="text-danger">{{ form.time.errors.as_text }}</p>
    </div>
    <div class="form-group">
        <label for="{{ form.forename.id_for_label }}">Forename:</label>
        {{ form.forename }}
        <p class="text-danger">{{ form.forename.errors.as_text }}</p>
    </div>
    <div class="form-group">
        <label for="{{ form.surname.id_for_label }}">Surname:</label>
        {{ form.surname }}
        <p class="text-danger">{{ form.surname.errors.as_text }}</p>
    </div>
 <input type="submit" class="btn btn-default" value="Apply" />
</form>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %} 

{% endblock %}